<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit User</title>
</head>
<body>
<h1>Edit User Information</h1>
<br />
<form action="#" th:action="@{/save-user}" th:object="${userMeta}" method="post">
    <table border="0" cellpadding="10">
        <tr>
            <td>User Name:</td>
            <td><input type="text" th:field="*{name}" required/></td>
        </tr>
        <tr>
            <td>Email:</td>
            <td><input type="text" th:field="*{email}" required/></td>
        </tr>
    </table>
    <input type="text" th:field="*{id}" hidden readonly/>
    <td colspan="2"><button type="submit">Save</button> </td>
</form>
</div>
</body>
</html>