<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{basicauthentication/fragments/layout}">
<head>
    <meta charset="UTF-8">
    <title>User Manager</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <h3>Manage Users</h3>
    <div align="center">
        <h1>Users</h1>
        <br/><br/>
        <table border="1" cellpadding="10">
            <thead>
            <tr>
                <th>Meta ID</th>
                <th>Name</th>
                <th>Email</th>

            </tr>
            </thead>
            <tbody>
            <tr th:each="userMeta : ${userMetaList}">
                <td th:text="${userMeta.id}">Meta ID</td>
                <td th:text="${userMeta.name}">Name</td>
                <td th:text="${userMeta.email}">Name</td>
                <td th:href="@{'/edit-meta/' + ${userMeta.id}}">Edit</td>
            </tr>
            </tbody>
        </table>
    </div>
    </div>
</body>
</html>